{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            <div class="spacing"></div>
            {{ $mysection := ($.Site.GetPage "articles" .Section).Pages }}
                {{range first 1 $mysection }}
                    <a class="link" href="{{ .RelPermalink }}">
                    <div class="lastpost lastart_highlight">
                    <p>Explore this new article: <span class="lastlink">{{ .Name }}</span></p>
                    </div>
                    </a>
            {{ end }}
        </div>
        {{ partial "friends.html" }}
    </main>
{{ end }}
