.post {
    max-width: 1100px !important;
}

.post-content p img {
    margin: auto !important;
    border: 3px solid #d84d76;
    background-color: white;
}

/* summary */

.article_summary {
    position: fixed;
    top: 120px;
    left: 10px;
    bottom: 10px;
    width: 180px;
}