.friend_container {
    white-space: nowrap;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
}

.logo_friend {
    margin: 10px;
    width:65px;
    height:65px;
    display:inline-block;
    border-radius: 50%;
    border: solid 2px rgba(100, 100, 100, 0.5);
    transition: border 0.3s linear;
}
  
.logo_friend:hover { 
    border: solid 2px #fe5186;
}