.highlight {
  border: 1px solid rgb(180, 180, 180);
}

.spacing {
  padding-top:140px;
}

.lastlink {
    color: #fe5186;
    text-decoration: none;
    -webkit-transition: text-shadow 0.3s linear;
    -moz-transition: text-shadow 0.3s linear;
    -ms-transition: text-shadow 0.3s linear;
    -o-transition: text-shadow 0.3s linear;
    transition: text-shadow 0.3s linear;
}

.lastlink:hover  {
    text-shadow: 0px 0px 1px #fe5186 ;
}

.link {
    text-decoration: none;
}

  .lastart_highlight {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    color: white;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .lastart_highlight:before, .lastart_highlight:after {
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    visibility: hidden;
    border-radius: 2px;
  }
  .lastart_highlight:before {
    border-top: 1px solid #fe5186;
    border-right: 1px solid #fe5186;
    -webkit-transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    top: 0;
    left: 0;
  }
  .lastart_highlight:after {
    border-left: 1px solid #fe5186;
    border-bottom: 1px solid #fe5186;
    bottom: 0;
    right: 0;
    -webkit-transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  }
  .lastart_highlight:hover {
    -webkit-animation: pulse 1s ease-out 0.4s;
            animation: pulse 1s ease-out 0.4s;
  }
  .lastart_highlight:hover:before, .lastart_highlight:hover:after {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  .lastart_highlight:hover:before {
    -webkit-transition: width 0.1s ease, height 0.1s ease 0.1s;
    transition: width 0.1s ease, height 0.1s ease 0.1s;
  }
  .lastart_highlight:hover:after {
    -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  }