.header__inner {
    width: 1100px !important;
}

.header {
    padding: 12px !important;
}

.menu__inner li a {
    -webkit-transition: text-shadow 0.3s linear;
    -moz-transition: text-shadow 0.3s linear;
    -ms-transition: text-shadow 0.3s linear;
    -o-transition: text-shadow 0.3s linear;
    transition: text-shadow 0.3s linear;
}

.menu__inner li a:hover {
    color: #fe5186;
    text-shadow: 0px 0px 1px #fe5186 ;
    text-decoration: none;
}


