{{ define "main" }}
  <div class="posts">
    {{ range .Pages }}
      <div class="post on-list">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        <div class="post-meta">
          {{ if .Date }}
            <span class="post-date">
              {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
            </span>

            <!-- {{ if $.Site.Params.LastModDisplay }}
              {{ partial "lastmod.html" . }}
            {{ end }}
          {{ end }} -->
          <!-- {{ with .Params.Author }}
            <span class="post-author"
              >— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
            {{ end }} -->


          <!-- {{ if $.Site.Params.ShowReadingTime }}
            <span class="post-read-time"
              >— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span
            >
          {{ end }} -->
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
              <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ if .Params.Cover }}
          {{ partial "postcover.html" . }}
        {{ end }}

        <!-- <div class="post-content">
          {{ with .Description }}
            {{ . | markdownify }}
            {{ else }}
            {{ if .Truncated }}
              {{ .Summary }}
            {{ end }}
          {{ end }}
        </div> -->
        <!-- {{ if not .Params.hideReadMore }}
          <div>
            <a class="read-more button" href="{{ .RelPermalink }}"
              >{{ $.Site.Params.ReadMore | default "Read more" }} →</a
            >
          </div>
        {{ end }} -->
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
